body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

h3{
    color: white;
    font-size: 35px;
    font-family: 'Big Shoulders Display', Courier, monospace;
    font-weight: 700;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    min-width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

p{
    font-family: 'Lexend Deca', Courier, monospace;
    font-weight: 400px;
    margin-bottom: 35%;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    margin-top: -10px;
    text-align: left;
}

img{
    width: 60px;
}

#subcontainer{
    display: flex;
    flex-direction: column;
    padding: 5%;
    min-width: 300px;
    box-sizing: border-box;
    align-items: flex-start;
    flex: 1;
}

#subcontainer:first-child{
    background-color: hsl(31, 77%, 52%);
}

#subcontainer:nth-child(2){
    background-color: hsl(184, 100%, 22%);

}

#subcontainer:last-child{
    background-color: hsl(179, 100%, 13%);
}

a{
    text-decoration: none;
    font-family: 'Lexend Deca', Courier, monospace;
}



.button{
    display: flex;
    justify-content: center;
    background-color: white;
    align-content: center;
    border-radius: 20px;
    border:2px solid white;
    padding: 5%;
    padding-left: 20px;
    padding-right: 20px;
}


#subcontainer:first-child a{
    color:hsl(31, 77%, 52%);
}

#subcontainer:nth-child(2) a{
    color:hsl(184, 100%, 22%);
}

#subcontainer:last-child a{
    color:hsl(179, 100%, 13%);
}

a:hover {
    background-color: transparent;
    color: white !important; 
}


